.job-item-link {
  text-decoration: none;
  margin-bottom: 20px;
}

.job-item-background {
  width: 100%;
  background-color: #202020;
  border-radius: 12px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .job-item-background {
    margin-bottom: 10px;
  }
}

.title-and-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.company-logo {
  width: 70px;
  margin-right: 10px;
}

.title {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating-icon {
  font-size: 20px;
  color: #fbbf24;
  margin-right: 10px;
}

.rating-text {
  color: #ffffff;
  font-weight: 500;
}

.location-and-salary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.location-and-emp-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-icon {
  color: #ffffff;
  margin-right: 10px;
}

.category-text {
  margin-right: 10px;
  color: #ffffff;
}

.salary-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

.description {
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 20px;
  }
}

.description-text {
  color: #f1f5f9;
  text-align: left;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .description-text {
    font-size: 16px;
  }
}
